@font-face {
	font-family: Futura;
	src: url("../fonts/Futura.ttf");
}

body {
	font-family: 'Lato', sans-serif;
	background-image: url("../img/parchment.png");
	background-attachment: fixed;
}

h1 {
	font-family: Futura;
	font-size: 40px;
	color: #004a80;
	text-shadow: 1px 1px 1px #636363;
}

h2 {
	font-family: Futura;
	font-size: 30px;
	color: #d62722;
}

p {
	line-height: 23px;
}

a {
	text-decoration: none;
}

/* Header */

header {
	margin: 0 auto;
}

/* LOGO */

#logo {
	max-width: 400px;
	margin: auto;
}

#logo img {
	width: 100%;
	padding: 20px;
	margin: auto;
}

@media (min-width: 300px) {
	#logo {
		margin: auto;
		width: 50%;
	}
}

@media (min-width: 600px) {
	#logo img {
		width: 80%;
	}
}

@media (min-width: 900px) {
	#logo img {
		width: 100%;
	}
}

/* NAVIGATION */

nav {
	margin: 0 auto;
	width: 100%;
	background-color: #004a80;
	margin-bottom: 60px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav a {
	display: block;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	font-family: Futura;
	color: #ffffff;
	border: none;
}

nav a:hover {
	text-decoration: none;
	color: #dabd88;
}

@media (min-width: 600px) {
	nav li {
		width: 20%;
		display: inline-block;
	}
}

@media (min-width: 800px) {
	nav li {
		width: calc(100% / 4);
	}
}

.title {
	width: auto;
	height: auto;
	margin: auto;
	padding: 10px;
	background-color: #dabd88;
	text-align: center;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	color: #ffffff;
	font-weight: normal;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
}

#type-styles {
	width: 400px;
	height: auto;
	background-color: #ffffff;
	padding: 12px;
	margin: 15px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	-webkit-box-shadow: 2px 3px 4px 2px #a6a6a6;
	box-shadow: 2px 3px 4px 2px #a6a6a6;
}
